* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to right, #f9f3ab, #f9f3ab);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Login-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}

.Login-form h1 {
    margin-bottom: 20px;
    color: #333;
}

.form-img img {
    width: 100px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
}



button.btn {
    width: 100%;
    padding: 12px;
    background-color: #2d99ff;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}






